.contact-container {
  background-color: #4a5dac;
  border-radius: 0.5em;
  margin: 0.5em auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8em 1em;
  gap: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}


.contact-container:hover {
  background-color: #6380f5;
  cursor: pointer;
}

.modalBtn {
  border: none;
  background-color: transparent; 
  text-align: start;
  flex-grow: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  padding-left: 2rem;
}

.contact-name {
  font-family: Arial, sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  color: white;
  word-break: break-word;
}

.modalBtn:hover {
  background-color: transparent;
  cursor: pointer;
}

.call-btn {
  height: 3em;
  width: 3em;
  border: none;
  border-radius: 50%;
  background-color: #F7A64A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: background-color 0.3s;
  cursor: pointer;
}

.call-btn:hover {
  background-color: #cf914a;
}

.llamar-icon {
  width: 60%;
  height: 60%;
  object-fit: contain;
}


/* Responsive */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .modalBtn {
    width: 100%;
    justify-content: flex-start;
  }

  .call-btn {
    margin-top: 0.5em;
    align-self: flex-end;
  }

  .contact-name {
    font-size: 1rem;
  }
}
