.contact-container{
    background-color: #FFFFFF;

    height: 50px;
    width: 1450px;
    border-radius: 4px;
    margin-bottom: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    flex-shrink: 0;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(207, 207, 207);

    padding: 0;
}

.contact-name{
    font-family: Arial;
    font-size: 17px;

    padding-left: 20px;
    color: #1F2937;
}


.contact-container:hover,.modalBtn:hover{
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    transition: 0.3s;
}

.llamar-icon{
    height: 20px;
    width: 20px;
}

.call-btn{
    height: 40px;
    width: 40px;
    border: 1px;
    border-radius: 20px;
    /*background-color: rgb(204, 204, 204);*/
    background-color: #4A6CF7;
}
/*background-color: #4A6CF7;*/
.call-btn:hover{
    cursor: pointer;
    transition: 0.3s;
    background-color: #6380f5;
}

.modalBtn{
    border: none;
    background-color: transparent;
    text-align: start;

    height: 50px;
    width: 1450px;
}