.contact-container {
  background-color: #4a5dac;
  height: 8vh;
  width: 90%;
  border-radius: 0.3em;
  margin-bottom: 0.5em;
  margin-left: 3%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
}

.contact-name {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-left: 2%;
  color: white;
}

.modalBtn:hover {
  cursor: pointer;
  background-color: #6380f5;
  transition: background-color 0.3s;
}

.llamar-icon {
  height: 55%;
  width: 55%;
}

.call-btn {
  height: 4em;
  width: 4em;
  border: none;
  border-radius: 50%;
  background-color: #4a6cf7;
  margin-right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.call-btn:hover,.contact-container:hover {
  cursor: pointer;
  background-color: #6380f5;
  transition: background-color 0.3s;
}

.modalBtn {
  border: none;
  background-color: transparent;
  text-align: start;
  flex-grow: 1;
  height: 100%;
}
