.search-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-shrink: 0;
}

.search-bar{
    width: 400px;
    max-width: 410px;
    margin-left: 15px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    box-shadow: inset 1px 2px 3px rgba(0,0,0,0.05);
    border-radius: 5px;
}

.search-icon{
    height: 25px;
    width: 25px;
}

.search-button{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    border-width: 0;
    background-color: #4A6CF7;
    margin-left: 15px;
    min-height: 50px;
    min-width: 50px;
    flex-shrink: 0;
}

.search-button:hover{
    opacity: 1;
    cursor: pointer;
    background-color: #3A5BD6;
    transition: 0.7s;
}

.search-bar::placeholder{
    font-family: Arial;
    font-size: 18px;
}