.seccionFavoritos{
    width: 2000px;

    margin-bottom: 20px;
    margin-top: 20px ;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.seccionFavoritosIcon{
    height: 30px;
}

.seccionFavoritosIcon:hover{
    cursor: pointer;
}