.sidebar {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 15.3%; 
  background-color: #4a5dac;
  border-left: 1px solid #4a5dac;
  width: 2%; 
  min-width: 35px; 
  max-width: 60px; 
}

.favorito-btn-sidebar {
  display: flex;
  height: 2.3em; 
  width: 2.3em; 
  align-items: center;
  justify-content: center;
  background-color: #4a5dac;
  border: none;
  margin: 0;
  padding: 0;
}

.favoritos-icon-sidebar {
  height: 70%;
  width: 70%;
}

.favorito-btn-sidebar:hover {
  cursor: pointer;
  background-color: #F7A64A;
}

.letrabtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.3em; 
  height: 2.3em; 
  color: white;
  font-size: 1rem;
  border: none;
  background-color: #4a5dac;
  text-align: center;
}

.letrabtn:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: #F7A64A;
}
